@import 'vars.styl'

/*! ---------------------------------------------------------------------------- Generales */
.BannerLibro
	text-align right
	
.ContenedorFooter
		
	footer
				
		h3
			text-align left
		
		h2
			text-align right
/*! ---------------------------------------------------------------------------- Utilities */


/*! ---------------------------------------------------------------------------- Header */


/*! ---------------------------------------------------------------------------- .... stuff */