@import 'vars.styl'

/*! ---------------------------------------------------------------------------- Generales */

.Libros div .row div .row div .Resenia
	height auto
	transition(height .2s ease)

/*! ---------------------------------------------------------------------------- Utilities */


/*! ---------------------------------------------------------------------------- Header */


/*! ---------------------------------------------------------------------------- .... stuff */