// Variables generales v.g. colores, fuentes, etc.

Rosa = #ff718f

RosaHover = #ec407a

GrisClaro = #b2b2b2

GrisObscuro = #414141

GrisNav = #e6e6e6

GrisNavObs = #d7d7d7

GrisNavClaro = #f3f3f3

Amarillo = #ffd200

General()
	color black
	font-size 0.857em
	font-family 'Roboto', sans-serif
	font-weight 400
	line-height 1.8em
	text-decoration none
	text-transform none
	margin-top 0
	margin-bottom 0
Titulo()
	color Rosa
	font-size 1.8em
	font-family 'Bitter', serif
	font-weight 700
	text-decoration none
	text-transform uppercase
	margin-top 0
	margin-bottom 0
Subtitulo()
	color Rosa
	font-size 1.1em
	font-family 'Roboto', sans-serif
	font-weight 700
	text-decoration none
	text-transform uppercase
	margin-top 0
	margin-bottom 0
SubLink()
	color black
	font-size 1em
	font-family 'Bitter', serif
	font-weight 700
	text-decoration none
	text-transform uppercase
	margin-top 0
	margin-bottom 0
Menu()
	color black
	font-size 1em
	font-family 'Bitter', serif
	font-weight 400
	text-decoration none
	text-transform uppercase
	margin-top 0
	margin-bottom 0
Especial()
	color black
	font-size 1.5em
	font-family 'Roboto', sans-serif
	font-weight 300	
	font-style italic
	margin-top 0
	margin-bottom 10px

SubtituloLibro()
	color black
	font-size 1.5em
	font-family 'Roboto', sans-serif
	font-weight 500
	text-decoration none
	text-transform none
	margin-top 0
	margin-bottom 0



// Funciones para efectos y propiedades CSS3
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	-ms-transition arguments
	transition arguments
	
box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments 

text-shadow()
	text-shadow arguments
	
box-shadow()
	-webkit-box-shadow arguments
	box-shadow arguments

transform()
	-webkit-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments